<html>	
	<head>
		<title>{{ title }}</title>
	</head>
		<body>
			<nav>
				<h1 style="background-color: powderblue;" align="center">Shoose.com</h1>
				{% if current_user.is_authenticated %}
				<a href="{{ url_for('home') }}">Home</a>
				<a href="{{ url_for('shoesadmin') }}">Shoes</a>
				<a href="{{ url_for('shops') }}">Shops</a>
				<a href="{{ url_for('logout') }}">Logout</a>
				<a href="{{ url_for('about') }}">About</a>
				{% else %}
				<a href="{{ url_for('home') }}">Home</a>
				<a href="{{ url_for('shoes') }}">Shoes</a>
                <a href="{{ url_for('shops') }}">Shops</a>
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('about') }}">About</a>
				{% endif %}
			</nav>
			{% block body_content %}{% endblock %}
		</body>
</html>
