{% extends "layout.html" %}
{% block body_content %}
<h2>{{ title }}</h2>
<p>Listed below are our current shops. Find one near you:</p>
<br>
<a href="{{ url_for('shop1') }}">4 Aglet Avenue, <b>York</b></a>
<br>
<a href="{{ url_for('shop2') }}">2 Laces Lane, <b>Manchester</b></a>
<br>
<a href="{{ url_for('shop3') }}">1 Pair Place, <b>Leeds</b></a>
<br>
<a href="{{ url_for('shop4') }}">10 Sole Station, <b>London</b></a>
<br>
<a href="{{ url_for('shop5') }}">34 Heel Hill, <b>Poole</b></a>
{% endblock %}